.compass {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: auto;
}
  
.compass .arrow {
    position: absolute;
    width: 0;
    height: 0;
    top: -2px;
    left: calc(45% - 12px);
    transform-origin: center 80px;
    border-style: solid;
    border-width: 20px 8px 0 8px;
    border-color: red transparent transparent transparent;
    z-index: 1;
    transition: transform 0.3s ease;
}


  
.compass .compass-circle {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(https://purepng.com/public/uploads/large/purepng.com-compasscompassinstrumentnavigationcardinal-directionspointsdiagram-1701527842316onq7x.png)
      center no-repeat;
    background-size: contain;
}
  