.loginContainer {
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(to right bottom, #2196f3, #77a8da);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.contentContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 72px !important;
  height: 72px !important;
  margin: 8px;
  background-color: #9c27b0 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  margin: 24px 0 32px 0 !important;
  color: white;
  font-weight: bold !important;
  font-size: 2.5rem !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.formPaper {
  padding: 48px !important;
  border-radius: 16px !important;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.95) !important;
  width: 100%;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1) !important;
}

.submitButton {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
  padding: 12px 0 !important;
  font-size: 1.2rem !important;
  font-weight: bold !important;
  height: 48px !important;
}

.submitButton:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

.link {
  color: #1976d2;
  text-decoration: none;
  font-size: 1rem !important;
}

.link:hover {
  text-decoration: underline;
  color: #1565c0;
} 